.properties__item:hover .item-photo__more {
  opacity: 0;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.properties__item:hover .item-photo__hover {
  opacity: 0;
}

.properties__item:hover .item-photo img {
  width: 100%;
  max-width: 100%;
}

.hover-default .item-photo:hover .item-photo__hover {
  display: none;
}

.properties__item:hover .item-photo--static img {
  width: 100%;
  max-width: 100%;
}

.item-photo {
  display: block;
}

.faq__content {
  display: none;
}

.properties__filter {
  text-align: center;
}

.properties__param-column {
  float: left;
}

.header__settings {
  display: table;
  float: left;
}

.header__settings-column {
  display: table-cell;
}

.auth--header {
  float: right;
}

.header__contacts {
  height: 50px;
  float: left;
  margin-left: 150px;
}

.navbar__submenu {
  top: 20px;
}