@charset "UTF-8";

.ui-panel {
  position: fixed;
  left: -200px;
  top: 10%;
  width: 200px;
  min-height: 400px;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  z-index: 1000;
}

.ui-panel.opened {
  left: 0;
}

.ui-panel .control-label {
  color: #fff;
  font-size: 15px;
  display: block;
}

.ui-panel .checkbox {
  display: inline-block;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

.ui-panel .form-control {
  padding: 3px 5px;
  height: 28px;
}

.ui-panel .form-group {
  margin-bottom: 5px;
}

.ui-panel__toggle {
  background: rgba(0, 0, 0, 0.8);
  outline: none;
  border: none;
  padding: 5px 7px;
  line-height: 1;
  position: absolute;
  right: -25px;
  top: 0;
  width: 25px;
  height: 25px;
}

.ui-panel__toggle:after {
  font-size: 1em;
  display: inline-block;
  font-family: FontAwesome;
  content: "";
  color: #fff;
}

.ui-panel__scroll {
  background: rgba(0, 0, 0, 0.8);
  outline: none;
  border: none;
  padding: 5px 7px;
  line-height: 1;
  position: absolute;
  right: -25px;
  width: 25px;
  height: 25px;
}

.ui-panel__scroll--up {
  top: 25px;
}

.ui-panel__scroll--up:after {
  font-size: 1em;
  display: inline-block;
  font-family: FontAwesome;
  content: "";
  color: #fff;
}

.ui-panel__scroll--down {
  top: 50px;
}

.ui-panel__scroll--down:after {
  font-size: 1em;
  display: inline-block;
  font-family: FontAwesome;
  content: "";
  color: #fff;
}