<div class="container">
    <ul>
        <li class="breadcrumbs__item">
            <a href="" class="breadcrumbs__link">Home</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="" class="breadcrumbs__link">Login</a>
        </li>
    </ul>
</div>