<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__col footer__col--first">
                <section class="widget">
                    <div class="widget__header">
                        <h3 class="widget-title">Menu</h3>
                    </div>
                    <nav class="nav nav--footer"><a href="index.html">Home</a><a href="properties_listing_grid.html">Realty</a><a href="agents_listing_grid.html">Agents</a><a href="gallery.html">Gallery</a><a href="blog.html">Blog</a><a href="pricing.html">Pricing</a><a href="contacts.html">Contacts</a><a href="feature_ui.html">UI</a></nav>
                    <!-- end of block .nav-footer-->
                </section>
                <aside class="widget widget_text">
                    <h2 class="widget-title">About</h2>
                    <div class="textwidget">
                        RealtySpace is the leader in online real estate and operator of the WK of real estate web site for consumers and real estate professionals. Real Estate of websites captures more than 20 million monthly visitors
                        <p>RealtySpace is the leader in online real estate and operator of the WK of real</p>
                        <p><a>Read more</a></p>
                    </div>


                </aside>
                <div class="social social--footer">
                    <div class="social__header">
                        <h3 class="social__title">Social</h3>
                    </div><a href="#" class="social__item"><i class="fa fa-facebook"></i></a><a href="#" class="social__item"><i class="fa fa-twitter"></i></a><a href="#" class="social__item"><i class="fa fa-google-plus"></i></a>
                </div>
                <!-- end of block .social-footer-->
            </div>
            <!-- end of block .footer__col-first-->
            <div class="footer__col footer__col--second">
                <section class="address address--footer">
                    <div class="address__header">
                        <h3 class="address__title">Contact</h3>
                        <h4 class="address__headline">Our office</h4>
                    </div>
                    <address class="address__main"><span>1950 New York, NY, Ave NW, California, DC 3000600, USA</span><span>08 - 17 mon-fr</span><a href="tel:+442240052225">+1 202 555 0135</a><a href="tel:+442240052225">+1 202 555 0135</a><span>Fax: +1 202 555 0135</span><a href="mailto:hello@example.com">hello@example.com</a></address>
                </section>
                <!-- end of block .address-->
                <!-- BEGIN SECTION FEEDBACK-->
                <section class="form form--footer">
                    <div class="form__header">
                        <h3 class="form__title">Feedback</h3>
                    </div>
                    <form action="#" class="form__wrap js-parsley js-unhide-block">
                        <div class="form__row form__row--email form-group">
                            <label for="in-email" class="sr-only form__label control-label">E-mail</label>
                            <input id="in-email" type="email" name="email" placeholder="E-mail" required data-parsley-trigger="change" class="form__in form__in--text form-control">
                        </div>
                        <div class="form__row form-group">
                            <label for="in-message" class="sr-only form__label control-label">Message for Us</label>
                            <textarea id="in-message" name="message" placeholder="Message for Us" required data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-validation-threshold="10" data-parsley-minlength-message="You need to enter at least a 20 caracters long comment.." class="form__in form__in--textarea form-control"></textarea>
                        </div>
                        <div class="form__row">
                            <button type="submit" class="form__submit">Send</button>
                        </div>
                    </form>
                    <!-- end of block .form__wrap-->
                    <button type="button" class="form__show js-unhide">Contact form</button>
                </section>
                <!-- END SECTION FEEDBACK-->
            </div>
            <!-- end of block .footer__col-second-->
            <div class="footer__col footer__col--third">
                <!-- BEGIN SECTION ARTICLE-->
                <section class="article js-unhide-block article--footer">
                    <button type="button" class="widget__show js-unhide">Show articles</button>
                    <div class="article__header">
                        <h3 class="article__title">Latest articles</h3>
                    </div>
                    <!-- end of block .article__header-->
                    <div class="article__list">
                        <div class="article__item">
                            <div class="article__details">
                                <a href="blog_details.html" class="article__item-title">Sustainable architecture &amp; design.</a>
                                <time datetime="2009-08-29" class="article__time">Mon - 3 Sep - 3:17 PM</time>
                            </div>
                        </div>
                        <!-- end of block .article__item-->
                        <div class="article__item">
                            <div class="article__details">
                                <a href="blog_details.html" class="article__item-title">You’ve been approved for a rental home.</a>
                                <time datetime="2009-08-29" class="article__time">Mon - 3 Sep - 3:17 PM</time>
                            </div>
                        </div>
                        <!-- end of block .article__item-->
                        <div class="article__item">
                            <div class="article__details">
                                <a href="blog_details.html" class="article__item-title">The Block Glasshouse winners.</a>
                                <time datetime="2009-08-29" class="article__time">Mon - 3 Sep - 3:17 PM</time>
                            </div>
                        </div>
                        <!-- end of block .article__item-->
                    </div>
                    <!-- end of block .article__list--><a href="blog.html" class="article__btn-more"> More articles</a>
                </section>
                <!-- END SECTION ARTICLE-->
            </div>
            <!-- end of block .footer__col-third-->

            <div class="clearfix"></div><span class="footer__copyright">&copy; 2015 RealtySpace. All rights reserved</span>
            <!-- end of block .footer__copyright-->
        </div>
    </div>
</footer>