
@{
    ViewBag.Title = "Şifre Kurtarma Ekranı";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<div class="container">
    <section class="site">
        <header class="site__header">
            <h1 class="site__title">Şifremi unuttum</h1>
            <h2 class="site__headline">Kullanıcı adınızı veya Email adresinizi giriniz</h2>
        </header>
        <div class="auth auth--inline">
            <div class="auth__wrap auth__wrap--restore">
                <!-- BEGIN AUTH RESTORE-->
                <h5 class="auth__title">Şifreyi resetle</h5>
                @Html.ValidationSummary()
                @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { @class = "auth__form js-restore-form js-parsley" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="auth__row form-group">
                        <label for="recover" class="auth__label control-label">
                            Kullanıcı adınızı veya Email 
                        </label>
                        <input type="text" name="recover" id="recover" required class="auth__in auth__in--text form-control">
                    </div>
                        <div class="auth__row">
                            <button type="submit" class="auth__in auth__in--submit">Şifreyi Yolla</button>
                        </div>
                        <div class="auth__row">
                            <span class="auth__links">
                                Giriş<a href="@Url.Action("Login","Account")">Yap </a> veya
                                <a href="@Url.Action("Register", "Account")"> Kayıt Ol</a>
                            </span>
                            <!-- end of block .auth__links-->
                        </div>
                }

                <!-- end of block .auth__form-->
                <!-- END AUTH RESTORE-->
            </div>
        </div>
    </section>
</div>